/* Footer Styles */
footer {
  text-align: center;
  padding: 20px;
  color: var(--secondary-text-color);
  margin-top: auto;
}

footer a {
  color: #ff0000;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
